@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.App {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: url("../../assets/img/5137894.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  box-sizing: border-box;
  width: 90%;
  height: 70%;
  max-height: 80%;
  overflow: hidden;
  border-radius: 1.5rem;
  backdrop-filter: blur(0px) saturate(143%);
  -webkit-backdrop-filter: blur(0px) saturate(143%);
  background-color: rgba(193, 190, 190, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.title{
  color: #fff;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.3);
  
}

.filterContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.filterArea{
  width: 70%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btnFilter{
  background-color: #bc00dd;
  width: 5rem;
  height: 2.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px rgba(237,221,238,1);
}


.toggle {
  --width: 9.5rem;
  --height: 2.5rem;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #f20089;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #29bf12 ;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 95%;
  height: 95%;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 0.9rem;
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

.scrollArea{
  margin-top: 1rem;
  max-height: 62%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

/*
 *  STYLE 15
 */

 .scrollArea::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
   background-color: #F5F5F5;
   border-radius: 10px;
 }
 
 .scrollArea::-webkit-scrollbar
 {
   width: 4px;
   background-color: #F5F5F5;
 }
 
 .scrollArea::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #FFF;
   background-image: -webkit-gradient(linear,
                      40% 0%,
                      75% 84%,
                      from(#f20089),
                      to(#f20089),
                      color-stop(.6,#f20089))
 }

 .dataContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
 }

.data{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 92%;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
  color: #fff;
}

.pink{
  background-color: #F20089;
  color: #fff;
}

.blue{
  background-color: #2176ff;
}

.yellow{
  background-color: #fdca40;
}

.purple{
  background-color: #d100d1;
}

.green{
  background-color: #2dc653;
}

.data:hover{
  background-color: #FAF2FE;
  cursor: pointer;
}

.data img{
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  border-radius: 50%;
}

.urlTitle{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #fff;
}

.siteName{
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.siteAddress{
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

.contestName{
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.34rem;
  margin-right: 0.34rem;
}

.contestName a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.regDeadline{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.endsAt{
  font-weight: 500;
}

.endsDate{
  font-weight: 600;
  font-size: 0.9rem;
}