@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.App {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: url("https://img.freepik.com/free-vector/realistic-polygonal-background_52683-60157.jpg?w=1060&t=st=1680189681~exp=1680190281~hmac=a608ebf0670bca354b12fc0fc98d9afaa6860eca0451ffab0572e236c573b877");
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  max-height: 90%;
  overflow: hidden;
  border-radius: 1.5rem;
  
  background: rgba(255, 255, 255, 0.99);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.125);
}

.title{
  color: #AF0A06;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.3);
  
}

.filterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterArea{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 90%;
}

.filterButton{
  width: 5.5rem;
  height: 2.5rem;
  padding: 0.3rem 0.6rem;
  background-color: #a4a4a4;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.sortArea{
  display: flex;
  align-items: center;
  margin-left: 4rem;
  gap: 0.5rem;
}

.sortArea h1{
  font-size: 1rem;
}

.sortButton{
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #a4a4a4;
  cursor: pointer;
  border: 5px;
}


.scrollArea{
  margin-top: 1rem;
  max-height: 62%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

/*
 *  STYLE 15
 */

 .scrollArea::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
   background-color: #C81C44;
   border-radius: 10px;
 }
 
 .scrollArea::-webkit-scrollbar
 {
   width: 4px;
   background-color: #C81C44;
 }
 
 .scrollArea::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #FFF;
   background-image: -webkit-gradient(linear,
                      40% 0%,
                      75% 84%,
                      from(#C81C44),
                      to(#C81C44),
                      color-stop(.6,#C81C44))
 }

 .dataContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.7rem;
 }

.data{
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 92%;
  border-radius: 1rem;
  padding: 0.4rem 0.7rem;
  color: #fff;
  background-color: #a4a4a4;
}


.data:hover{
  background-color: #AF0A06;
  cursor: pointer;
}

.data img{
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}

.urlTitle{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #fff;
}

.siteName{
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.siteAddress{
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

.contestName{
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contestName a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.regDeadline{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.endsAt{
  font-weight: 500;
}

.endsDate{
  font-weight: 600;
  font-size: 0.9rem;
}

.active{
  background-color: #AF0A06;
  transition: all 300ms ease-in-out;
}